<div class="center jumbotron">
  <h1>Framgia E Learning System</h1>
  <h2>
    <%= t :construction_notice %>
  </h2>
  <%= link_to t(:signup_prompt_text), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("elogo.jpeg", alt: "Have Fun!!"), 'https://www.facebook.com/FramgiaBangladesh/?fref=ts' %>
