<footer class="footer">
  <small>
    <%= link_to( t(:footer_framgia_name_text) , 'https://www.facebook.com/FramgiaBangladesh/?fref=ts', target: :blank) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:footer_partial_about_text), about_path %></li>
      <li><%= link_to t(:footer_contact_partial_text), contact_path %></li>
    </ul>
  </nav>
</footer>
